@page "/wiki/new"
@layout MainLayout

@*
    Wiki Page Create
    
    Provides the interface for creating a new wiki page.
    
    Route: /wiki/new
    
    Layout:
    - Left sidebar: Hierarchical page list (PageList component)
    - Main content: Page editor (PageEditor component) in create mode
*@

<div class="wiki-container">
    <div class="wiki-sidebar">
        <PageList />
    </div>
    <div class="wiki-main">
        <PageEditor />
    </div>
</div>

<style>
    .wiki-container {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 2rem;
    }

    .wiki-sidebar {
        border-right: 1px solid #dee2e6;
        padding-right: 1rem;
    }

    .wiki-main {
        padding: 1rem 0;
    }
</style>
